* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --neutral-color: hsl(0, 6%, 24%);
  --gradient-1: hsl(0, 0%, 100%);
  --gradient-1-2: hsl(0, 100%, 98%);
  --gradient-2: hsl(0, 80%, 86%);
  --gradient-2-2: hsl(0, 74%, 74%);
  --primary-color: hsl(0, 36%, 70%);
  --secondary-color: hsl(0, 93%, 68%);
}

h1,
h2,
h3 {
  margin: 0;
}


body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(135deg, var(--gradient-1) 0%, var(--gradient-1-2) 100%);
}

.mainSection {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  position: relative;
}

.base {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vh;
  margin: .5rem 1rem;
}

.base img {
  width: 25%;
}

.textSection {
  text-align: center;
  width: 100%;
  height: auto;
}

.previewImg {
  width: 100%;
  height: auto;
  }

.previewImg img {
  width: 100%;
  height: auto;
  }

  .previewImg2 {
    display: none;
  }

.header {
  font-size: 1.8rem;
  line-height: 3rem;
  margin: 2.5rem 0;
  text-transform: uppercase;
}

span {
  font-weight: 200;
  color: var(--primary-color);
  display: block;
}

h1 {
  color: var(--neutral-color);
  font-weight: 500;
}

.bodyText {
  font-weight: 400;
  font-size: 1rem;
  color: var(--primary-color);
  line-height: 1.5em;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.formContainer{
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formControl {
  color: var(--primary-color);
  padding: 1rem 2rem;
  width: 18rem;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  background-color: rgba(255, 255, 255, 0);
}



::placeholder {
  color: var(--primary-color);
  opacity: .5;
}

.btn {
  background: linear-gradient(135deg, var(--gradient-2) 0%, var(--gradient-2-2) 100%);
  box-shadow: -2px 14px 22px 6px  hsla(0, 80%, 86%, 50%);
  height: 3rem;
  width: 4rem;
  border: none;
  border-radius: 15rem;
  margin-left: -4rem;
  
}

.icon {
  background: url(images/icon-arrow.svg) no-repeat center center;
  width: 50px;
  height: 50px;
  transform: translateX(10px);
}


input[type="email"]:focus {
  outline: none !important;
  border: 1px solid var(--primary-color);
  color: var(--neutral-color);
}

@media (min-width: 1400px) {
  
  .mainSection {
    background-image: url(images/bg-pattern-desktop.svg);
    flex-direction: row;
    height: 100%;
    position: relative;
    border: 1px solid black;
  }
  
  .base {
    margin-left: 0;
  }

  .textSection {
    width:  60%; 
    text-align: left;
    margin-left: 7rem;
    padding-right: 12rem;
  }

  .header {
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 1rem;

  }

  .mainInfo {
    padding: 6rem 6rem 0 0;
  }

  .bodyText {
    line-height: 2rem;
  }

  .formControl {
    width: 30rem;
  }


  .btn {
    height: 3.1rem;
    width: 5.3rem;
    margin-left: -5rem;
  }

  .icon {
    transform: translateX(18px);
  }

  .previewImg2 {
    display:block;
  }

.previewImg2 {
  background-color: whitesmoke;
  width: 40%;
  height: 100%;
}

.previewImg {
display: none;
}



}
